$primaryColor: rgb(0, 0, 0);
$secondaryColor: rgb(27, 27, 27);
$tertiaryColor: rgb(59, 59, 59);
$quaternaryColor: rgb(100, 100, 100);
$spotifyGreen: rgb(42, 183, 89);

$secondaryFontColor: $quaternaryColor;
$primaryFontColor: white;

$disabledOpacity: .25;

$contentBackground: $secondaryColor;
$bodyBackground: $primaryColor;