$black: rgb(0, 0, 0);
$onix: rgb(27, 27, 27);
$slate: rgb(59, 59, 59);
$gray: rgb(88, 88, 88);
$gray: rgb(88, 88, 88);
$lightgray: rgb(108, 108, 108);
$spotifyGreen: #1DB954;
$red: rgb(247, 38, 38);
$darkRed: rgb(197, 7, 7);

$theme0: $black;
$theme1: $onix;
$theme2: $slate;
$theme3: $gray;
$theme4: $spotifyGreen;

$primaryFontColor: white;
$secondaryFontColor: $theme3;

$disabledOpacity: .4;

$contentBackground: $theme1;
$bodyBackground: $theme0;

$negRed: $darkRed;
$negRed-hover: $red;
